:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  color: #333;
  background: linear-gradient(to right, #e9e9e9, #FFFFFF) !important;
  height: 100vh;
}

#loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.842);
  z-index: 9999;
}

.animate-spin {
  animation: spin 1s linear infinite;
  height: 50px;
  width: 50px;
  color: #6F2BF6;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
}

.profile-container {
  max-width: 600px;
  margin: auto;
}

.profile-welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  border: solid 1px #333;
}

.btn {
  font-size: 0.8em;
  padding: 4px;
}

.btn-service {
  background-color: #8F84F2;
  color: white;
  border: 1px solid #8F84F2;
}

.profile-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.profile-header-first {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1em;
}

.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-wishlists {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tags .badge {
  padding: 0.5em 1em;
}

.add-wishlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.wishlist-card {
  background-color: #D9D8ED;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wishlist-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#navbar-panel {
  background-color: #FFFFFF;
  z-index: 1000;
}